-#= javascript_include_tag "/javascripts/ckeditor/ckeditor.js"
= semantic_form_for [:admin, @page] do |f|
  = f.inputs :name => "inputs" do
    = f.input :published
    = f.input :page_category
    = f.input :title
    -#- if params[:action] == 'edit'
    -#  = f.input :slug
    = f.input :short_body, :as => :ckeditor, :input_html => { :height => 200 }
    = f.input :body, :as => :ckeditor, :input_html => { :height => 400 }
    = f.input :meta_title
    = f.input :meta_description
    = f.input :meta_keywords
  = f.buttons