%h1 Listing page_categories

%table
  %tr
    %th SLUG
    %th Name
    %th Description
    %th Slug
    %th Published

  - @page_categories.each do |page_category|
    %tr
      %td= link_to page_category.slug, short_category_page_url(page_category.slug)
      %td= page_category.name
      %td= page_category.description
      %td= page_category.slug
      %td= page_category.published
