= semantic_form_for @order do |f|
  = f.inputs do
    = f.input :name , :label => "Имя Фамилия (для отправки почтой) "
    = f.input :phone , :label => "Контактный телефон "
    = f.input :email , :label => "Е-мейл "
    = f.input :address , :label => "Полный почтовый адрес или адрес склада Новой Почты "
    = f.input :pay_type,  :as => :select,      :collection => Order::PAYMENT_TYPES , :prompt => 'Выберите' , :label => "Способ оплаты "
    = f.input :pay_type,  :as => :select,      :collection => Order::DELIVERY_TYPES, :prompt => 'Выберите' , :label => "Способ доставки "
    = f.input :note , :label => "Примечание "
  .buttons
    = f.submit "Заказать" , :class=>"button-cart important submit"
