%h1 Listing orders

%table
  %tr
    %th Status
    %th Name
    %th Email
    %th Phone
    %th Address
    %th Pay type
    %th Delivery type
    %th Spent
    %th Note
    %th Order
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.status
      %td= order.name
      %td= order.email
      %td= order.phone
      %td= order.address
      %td= order.pay_type
      %td= order.delivery_type
      %td= order.spent
      %td= order.note
      %td= order.order_id
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Order', new_order_path
