%p#notice= notice

%p
  %b Status:
  = @order.status
%p
  %b Name:
  = @order.name
%p
  %b Email:
  = @order.email
%p
  %b Phone:
  = @order.phone
%p
  %b Address:
  = @order.address
%p
  %b Pay type:
  = @order.pay_type
%p
  %b Delivery type:
  = @order.delivery_type
%p
  %b Spent:
  = @order.spent
%p
  %b Note:
  = @order.note
%p
  %b Order:
  = @order.order_id

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
