- content_for :page_title do
  =@product.title


- content_for :css_js do
  = stylesheet_link_tag    "jq_ui_1_8_9_custom"
  = stylesheet_link_tag    "carousel"
  = stylesheet_link_tag    "/javascripts/tipsy/css.tipsy.css"
  = stylesheet_link_tag    "cloud-zoom"


  = javascript_include_tag "jquery-1.5.2.min.js"
  = javascript_include_tag "jquery.cycle.lite.1.0.min.js"
  = javascript_include_tag "custom_scripts"
  = javascript_include_tag "cloud-zoom.1.0.2.min.js"
  = javascript_include_tag "/javascripts/jquery.jcarousel.min.js"
  = javascript_include_tag "jquery-ui-1.8.9.custom.min.js"
  = javascript_include_tag "tabs"
  = javascript_include_tag "/javascripts/tipsy/jquery.tipsy.js"
  = javascript_include_tag "tabs"
  :javascript
    jQuery(document).ready(function() {
      jQuery('#mycarousel').jcarousel({
          vertical: false,
          visible: 4,
          scroll: 1
          })
    });

.left
  .image
    %a#zoom1.cloud-zoom{:href => @product.attachments.first.attachment_url(:large), :rel => "adjustX: 5, adjustY:0, zoomWidth:550, zoomHeight:400, showTitle: false"}
      %img{:alt => "", :src => @product.attachments.first.attachment_url(:on_show), :title => "Pizza Delicioso"}/
    %span.pricetag=@product.product_price
  -if @product.attachments.count > 1
    .image-additional
      .image_car_holder
        %ul#mycarousel.jcarousel-skin-opencart
          -@product.attachments.each do |attache|
            %li
              %a.cloud-zoom-gallery{:href => attache.attachment_url(:large), :rel => "useZoom: 'zoom1', smallImage: '#{attache.attachment_url(:on_show)}' ", :title => "Thumbnail 1"}
                =image_tag (attache.attachment_url(:thumb))
.right
  .description
    =raw @product.description
  .options
  .cart
    %span.label Количество:
    %input#qty{:name => "quantity", :size => "2", :type => "text", :value => "1"}
      %a#button-cart.button{:title => "Купить"}
        %span Купить
.clear




