!!!
%html
  %head
    %title Lapasta
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %link{:href => "http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic", :rel => "stylesheet", :type => "text/css"}/

    = csrf_meta_tags
    = yield :css_js
    = render "layouts/google_analytics"
  %body
    #container
      #header
        = render "layouts/header"
      #content_holder
        .inner
          -if params[:controller] != 'home'
            = render "layouts/breadcrumbs"
            %h1.heading-title
              %span
                = yield :page_title
          -if params[:controller]=='products'
            -case params[:action]
              -when 'index'
                = render "products/product_filter"
                #column-left
                  = render "layouts/column_left"
                #content.content-column-left
                  = yield
              -when 'show'
                .product-info.fixed
                  = yield
                #content
                  = yield :product_content
          -else
            #content
              = yield
      -##pre_footer
      -#  = render "layouts/pre_footer"
      #footer
        = render "layouts/footer"
    = render "layouts/yandex_metrika"
